<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= product.url %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= product.publish_date %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= product.published %>
  </p>

</div>
